@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0px;
}
