.logo {
  width: 100px;
  border-radius: 50%;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.myCol{
  background-color: #e9ecef;
  margin: 20px;
  min-height: 200px;
  padding: 20px;
  border-radius: 20px;
}

.container {
  max-width: 1200px;
  color: #c0d3e5;
}


.jumbotron{
  border-radius: 20px;
  margin: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600 !important;
}

.bigIcon{
  position: absolute;
  right: 40px;;
  font-size: 40px;
  padding-top: 20px;
}

h3{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.logo2{
  
  width: 200px;
}