.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.myCol{
  background-color: #e9ecef;
  margin: 20px;
  min-height: 200px;
  border-radius: 20px;
}

.container {
  max-width: 2000px;
  color: #c0d3e5;
}


.jumbotron{
  border-radius: 20px;
  margin: 20px;
}