<div class="register-container bg-light">
  <button
    (click)="toLogin()"
    class="btn btn-sm btn-secondary upper-right-possition"
    translate
    [disabled]="isLoading"
  >
    <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>Login
  </button>

  <div class="d-inline-block ml-3 upper-right-possition-2" ngbDropdown>
    <button
      id="language-dropdown"
      class="btn btn-sm btn-secondary"
      ngbDropdownToggle
    >
      {{ currentLanguage }}
    </button>
    <div ngbDropdownMenu aria-labelledby="language-dropdown">
      <button
        class="dropdown-item"
        *ngFor="let language of languages"
        (click)="setLanguage(language)"
      >
        {{ language }}
      </button>
    </div>
  </div>

  <div class="register-box">
    <h1 translate>APP_NAME</h1>
    <div>
      <!--<h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>
          {{ currentLanguage }}
        </button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div>-->
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <!--<h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>-->
          <h3 translate>Register</h3>
          <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
            <div
              class="alert alert-danger"
              [hidden]="!error || isLoading"
              translate
            >
              Name, email and password is required.
            </div>
            <div class="form-group">

              <!-- NAME -->
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  autocomplete="name"
                  [placeholder]="'Name' | translate"
                />
                <span hidden translate>Username</span>
                <small
                  [hidden]="
                    registerForm.controls.name.valid ||
                    registerForm.controls.name.untouched
                  "
                  class="text-danger"
                  translate
                >
                  Username is required
                </small>
              </label>

              <!-- Email -->
              <label class="d-block">
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    autocomplete="current-password"
                    [placeholder]="'Email' | translate"
                    required
                  />
                  <span hidden translate>Email</span>
                  <small
                    [hidden]="
                      registerForm.controls.email.valid ||
                      registerForm.controls.email.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    Email is required
                  </small>
                </label>

              <!-- Password -->
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  required
                />
                <span hidden translate>Password</span>
                <small
                  [hidden]="
                    registerForm.controls.password.valid ||
                    registerForm.controls.password.untouched
                  "
                  class="text-danger"
                  translate
                >
                  Password is required
                </small>
              </label>


            </div>
            <button
              class="btn btn-primary w-100"
              type="submit"
              [disabled]="registerForm.invalid || isLoading"
            >
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Register</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
